
   tbody {
       color: rgb(19, 25, 34);
       width:30%;
   }
   
   
   
   table {
       border-collapse: collapse;
       border: 2px solid rgb(52, 11, 236);
       letter-spacing: 1px;
       font-family: sans-serif;
       width: 100%;
       background:rgba(0,0,0.1,0);
       margin-top:5%;
       font-size: 0.9rem;
       
   }
   
   button{
    color: rgb(43, 140, 231);
    background-color: #f5fbfc;
    margin-right: 50%;
    margin-top: 15%;
}
.h2{
    margin-left: 2%;
}