<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Users List</h1>
  <!-- It won't show if there is no user data -->
  <a routerLink="/register-userlist" class="btn btn-info" *ngIf="hideWhenNoUser">
    <i class="fas fa-plus custom-fa-plus"></i>
    Add User
  </a>
</div>

<div class="pricing-header mx-auto">
   <!-- Preloader shows before the data loads-->
   <div class="no-data text-center" *ngIf="preLoader">
    <img src="assets/developer-solution.gif" class="preloader-icon" alt="No User">
  </div>
 <!-- No data shows when their is no student data available -->
    <div class="no-data text-center" *ngIf="noData">
      <img src="assets/developer-solution.gif" class="nodata-msg" alt="No User">
      <p class="nodata-msg">No user added yet!</p>
      <a routerLink="/register-userlist" class="btn btn-success">
        Add User
      </a>
    </div>
  <!-- Showing users data -->
  <div class="table-responsive" *ngIf="hideWhenNoUser">
    <table class="table table-bordered table-responsive-md table-responsive-lg table-responsive-lg">
      <thead>
        <tr>
          <th   class="text-center" scope="col">User ID</th>
          <th  class="text-center" scope="col">User name</th>
          <th  class="text-center" scope="col">Email</th>
          <th   class="text-center" scope="col">Mobile number</th>
          <th class="text-center" scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <!-- *ngFor loop iterates over Student array and fetch the user's data -->
        <!-- paginate pipe will add pagination in student's list, it won't show if items are less then 7 -->
        <tr *ngFor="let user of User | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
          <th scope="row">{{user.$key}}</th>
          <td> {{user.fullName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td class="text-center action-block">
            <i class="fas fa-edit fa-2x" style="color:rgb(37, 10, 153)" routerLink="/edit-user/{{user.$key}}"></i>
            <i class="fas fa-trash-alt fa-2x fa-border fa-1x" style="color:rgb(236, 15, 15)" (click)="deleteUser(user)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
  <div class="form-group text-right">
    <button type="button" class="btn btn-secondary gap-right" routerLink="/dashboard">Retour</button>
    </div>
  
</div>