@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  width: 100%;
  height: 100%;
  font-family: 'Poppins','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background-image: url("https://images.radio-canada.ca/q_auto,w_1250/v1/ici-premiere/16x9/eclr-medecin.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
   
}


.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

h1{
  color: rgb(74, 117, 238);
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  color: #1056d8;
}

.media-body h1 {
  font-weight: 200;
  margin-bottom: 1px;
}


.media-body h1 strong {
  font-weight: 100;
}

.media-body {
  margin-bottom: 5px;
  font-weight: 300;
}

.media-body h1 strong {
  margin-bottom: 10px;
  font-weight: 600;
}



.displayTable {
  display: table;
  width: 100%;
  height: 100%;

}

.displayTableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.btn-success.disabled,.btn-success:disabled{cursor:not-allowed;
color: rgb(47, 84, 247);}

h3 {
  text-align: center;
  font-size: 22px;
  margin: 0 0 20px;
}

.authBlock {
  margin: 15px;
  max-width: 670px;
  background: rgb(0, 0, 0.1,0);
  padding: 30px 40px 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px 0 rgba(54, 9, 9, 0.897);
  box-shadow: 0 0 4px 0 rgba(66, 4, 4, 0.11);
}

label {
  display: block;
  font-size: 13px;
  padding-bottom: 5px;
  font-weight: 600;
}

.formGroup {
  margin-bottom: 20px;
  float: left;
  width: 100%;
}

.formControl {
  width: 100%;
  display: block;
  padding: 15px 15px 14px;
  border: 2px solid hsl(197, 69%, 43%);
  outline: none;
  font-size: 15px;
  color: #030101d0;
  background: #f5fcfc;
}

.formControl:focus {
  border: 2px solid #d3d3d6
}

input::-webkit-input-placeholder {
  color: #050202;
}

input::-moz-placeholder {
  color: #050202;
}

input:-ms-input-placeholder {
  color: #050202;
}

input:-moz-placeholder {
  color: #050202
}

.displayTable .btn {
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 0;
  background: #0982bbfb;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.displayTable .btn:hover {
  opacity: .88;
}

.displayTable .btnSecondary {
  background: #07a7f7;
  color: hsla(219, 93%, 41%, 0.897);
}
.or {
  text-align: center;
  display: block;
  color: #0c0a0a;
  background: white;
  position: relative;
  margin: 5px 0 0px;
}

.orInner {
  background: white;
  display: inline-block;
  z-index: 4;
  position: relative;
  padding: 0 12px;
}

.or:before {
  position: absolute;
  content: '';
  left: 0;
  top: 11px;
  width: 100%;
  height: 1px;
  background: #e2e2e2;
}

.halfWidth {
  width: 48.5%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.forgotPassword {
  text-align: center;
  margin: -12px 0 15px 0;
  float: left;
  width: 100%;
}

.forgotPassword span {
  color: #1376e7f5;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  padding-top: 20px;
}

.redirectToLogin {
  padding: 15px 0 0;
  text-align: left;
  font-size: 14px;
  margin-left: 250px;
  font-weight: 400;
  display: block;
  color: rgba(69, 128, 240, 0.945);
}

.redirectToLogin .redirect {
  cursor: pointer;
  color: #109fd8;
  text-decoration: underline;
}

/* * Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: rgb(2, 1, 1);
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: rgb(27, 116, 250);
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.nav-link {
  padding: 1.2rem 0.8rem;
  border-bottom: 1px solid #0d0e0f;
  cursor: pointer;
}

.sidebar .nav-link.active,
.sidebar a:hover,
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: rgb(34, 117, 241);
}

/* * Content */
[role="main"] {
  padding-top: 158px;
}

.dasboard-text {
  border-left: 0.5px solid rgba(2, 2, 2, 0.904);
  color: rgb(66, 95, 190);
  display: -moz-inline-stack;
  padding: 0 0 0 9px;
  font-size: 15px;
  margin-left:1px;
  position:center;
  top: -1px;
}

/* * Navbar */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.navbar .form-control {
  padding: .125rem 8rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: rgba(7, 3, 3, 0.623);
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.form-control:focus {
  border-color: #080a0a;
  box-shadow: none;
}

.form-control {
  font-size: 14px;
}

.bg-dark {
  background-color: rgb(0, 0, 0.1,0) !important;
}
.gap-right {
  margin-right: 10px;
}

i {
  width: 22px;
  text-align: center;
  margin-right: 5px;
}
.inner-adjust {
  padding: 0 20px;
}

.action-block {
  cursor: pointer;
}

.action-block .fa-edit:hover {
  color: #3085e6;
}

.action-block .fa-trash-alt:hover {
  color: #050002;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none;
}

/* Pagination */
body pagination-template {
  padding: 0;
  margin: 8px 0 0;
  float: left;
  width: 100%;
  text-align: right;
}

body .ngx-pagination li:last-child {
  margin: 0;
}

body .ngx-pagination .current {
  background: #020202;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  text-decoration: none;
}

/* Error */
.error {
  color: red;
  margin-top: 5px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.action-block .fa-edit:hover{color:#200096;}

.btn-success.disabled,
.btn-success:disabled {
  cursor: not-allowed;
  background-color: #1714d3e5;
}

/* Nav */
body .navbar {
  padding: 6px 0 !important;
}


body .navbar-brand {
  background:none
}

.brand-logo {
  max-width: 85%;
}

.pt-3,
.py-3 {
  padding-top: 2.4rem !important;
}

.sidebar-sticky {
  padding-top: 1.2rem !important;
}

/* Form */
label {
  font-weight: 500;
}

.form-control {
  padding: 1.375rem .75rem;
}

/* Misc */
.no-data img {
  max-width: 420px;
  margin: 20px auto 0;
}

.nodata-msg {
  margin: 25px 0 15px;
  font-size: 28px;
  color: #050508;
  font-weight: 300;
  letter-spacing: .2px;
}

[role="main"] {
  padding-top: 65px;
}

.preloader {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -15px;
}

.custom-text {
  font-size: 15px;
  color: #050404;
  letter-spacing: .2px;
}

.navbar-dark .navbar-brand {
  margin-left: 6px;
}

.custom-text strong {
  color: #020202;
}

.mb-3,
.my-3 {
  margin-bottom: 1.4rem !important;
}

.custom-fa-plus {
  margin: 0;
  width: auto;
}

.user-image {
  width: 42px;
  height: 42px;
  display: inline-block;
  border-radius: 25%;
  margin-right: 7px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

body .table thead th {
  background: #15bdf0f6;
  color: #fff;
  font-size: 15px;
}

.pricing-header {
  padding-bottom: 50px;
}


.navbar-dark .navbar-nav .nav-link {
  color: rgba(31, 25, 21, 0.082)
}

.card {
  border: none
}

.list-group-item {
  padding: 0 1.25rem 15px;
  border: none
}

.fa-sign-out-alt {
  position: relative;;
  top: 1px;
}

.logOutBtn {
  cursor: zoom-out;
}

.no-access {
  text-align: center;
  font-size: 26px;
  padding: 70px 0;
}

.rounded-circle {
  max-width: 200px;
}

/* Responsive */
@media(max-width:767px) {
  .sidebar {
    position: static;
    padding: 40px 0 10px;
    height: auto;
  }

  [role="main"] {
    padding-top: 0;
  }

  .inner-adjust {
    padding: 0;
  }

  ul.nav.flex-column {
    flex-direction: inherit !important;
  }

  .pt-3,
  .py-3 {
    padding-top: 0.5rem !important;
  }

  .brand-logo {
    max-width: 175px;
    margin: 0 auto;
    display: block;
  }

  .dasboard-text {
    display: none !important;
  }

  .sidebar-sticky {
    padding-top: 1.9rem !important;
    height: auto;
  }

  .sidebar-sticky .nav li {
    width: 50%;
    text-align: center;
    border-right: 1px solid #040706;
  }

  .sidebar-sticky .nav li:last-child {
    border: none;
  }

  .no-data img {
    max-width: 100%;
    margin-top: 0;
  }

  .nodata-msg,
  .h2,
  h2 {
    font-size: 1.4rem;
  }

  .custom-text {
    font-size: 14px;
  }

  .navbar-nav {
    float: right;
    width: 50%;
    text-align: right;
    display: inherit;
    margin: 0;
  }

  .navbar-dark .navbar-brand {
    margin: 0;
    width: 50%;
    float: right;
    display: inherit;
  }

  .sidebar {
    padding: 40px 0 0;
  }

  footer br {
    display: none;
  }

  .media {
    display: block;
  }

  .rounded-circle {
    max-width: 150px;
    margin: 0 auto 20px !important;
    display: block;
  }

  b,
  strong {
    display:table-header-group;
  }

  .displayTable {
    background: rgb(153, 98, 98)
  }

  .authBlock {
    box-shadow: none
  }
}