
<table *ngIf="isShow" class="table table-bordered">
  <thead>
   
    <tr>
      <th>Chute</th>
      <th>Distance</th>
      <th>Pulsation</th>
      <th>rythmecardiaque</th>

    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let group of Value">
         <td>{{group.Chute}}</td>
         <td>{{group.distance}}</td>
         <td>{{group.Pulsation}}</td>
         <td>{{group.rythmecardiaque}}</td>
     </tr>
  </tbody>
</table>
<div class="form-group text-right">
  <button type="button" class="btn btn-secondary gap-left" routerLink="/dashboard">Retour</button>
  </div>
