
button{
    color: rgb(43, 140, 231);
    background-color: #f5fbfc;
    margin-right: 100%;
    margin-top: 25%;
}

tbody {
    color: rgb(0, 0, 0);
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(131, 130, 138);
    letter-spacing: 1px;
    font-family: sans-serif;
    width: 100%;
    margin-top: 10%;
    font-size: 0.8rem;
}
