<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Edit User</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="pricing-header form-block mx-auto">
      <!-- User's Edit Form -->
      <form [formGroup]="editForm" (ngSubmit)="updateForm()" novalidate>
        <div class="row">
          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-md-12 mb-3">
                <label>FullName</label>
                <input type="text" formControlName="fullName" class="form-control" required>
                <p *ngIf="fullName.touched && fullName.invalid" class="error"><sup>*</sup>Please enter the FullName </p>
                <p *ngIf="fullName.errors?.minlength" class="error"><sup>*</sup>The FullName shouldn't be less than 8 words</p>
              </div>
              
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label>Email</label>
                <input type="email" formControlName="email" class="form-control" required>
                <p *ngIf="email.touched && email.invalid" class="error"><sup>*</sup>Please provide Email</p>
                <p *ngIf="email.errors?.pattern" class="error"><sup>*</sup>Please enter correct Email</p>
              </div>
              <div class="col-md-12 mb-3">
                <label>PhoneNumber</label>
                <input type="text" formControlName="phone" class="form-control" required>
                <p *ngIf="phone.touched && phone.invalid" class="error"><sup>*</sup>Please provide
                  contact
                  number</p>
                <p *ngIf="phone.errors?.pattern" class="error"><sup>*</sup>Use numbers only
                  number</p>
              </div>
            </div>
            <div class="form-group text-right">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!editForm.valid">Update User</button>
            </div>
          </div>
        </div>
      </form><!-- User's Edit Form ends-->

    </div>
  </div>
</div>